@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    padding: 3rem;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    /* Mantém o conteúdo abaixo da pokebola */
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeball {
    position: absolute;
    top: auto;
    left: auto;
    width: 165px;
    height: 165px;

}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 1rem;

}

.pokemon-card {
    border-radius: 1rem;
    padding: .5rem;
    color: white;
    position: relative;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, .7);
}

.pokemon-header {
    position: relative;
    margin-bottom: 1rem;
}

.pokemon-header .pokemon-name {
    text-align: center;
    font-size: 35px;
}

.pokemon-number {
    font-size: 0.9rem;
    opacity: 0.8;
    font-weight: 500;
}

.pokemon-name {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.pokemon-types {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.type-badge {
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    filter: brightness(1.4);
    font-weight: bold;
    color: #1a1919;
}

.pokemon-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.grass {
    background-color: #14A06F;
}

.fire {
    background-color: #E35825;
}

.water {
    background-color: #1479A0;
}

.poison {
    background-color: #6B246E;
}

.bug {
    background-color: #7AC74C;
}

.normal {
    background-color: #A8A878;
}

.electric {
    background-color: #F8D030;
}

.ice {
    background-color: #98D8D8;
}

.fighting {
    background-color: #C03028;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.psychic {
    background-color: #F85888;
}

.rock {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.fairy {
    background-color: #EE99AC;
}